In [17]:
import psycopg2
import pandas as pd

ENDPOINT="database-1.czh7cscocv0o.us-east-2.rds.amazonaws.com"
PORT="5432"
USER="postgres"
REGION="us-east-2c"
DBNAME="postgres"


try:
    conn = psycopg2.connect(host=ENDPOINT, port=PORT, database=DBNAME, user=USER, password=, sslrootcert="SSLCERTIFICATE")
    cur = conn.cursor()
    cur.execute("SELECT * FROM bank_data")
    query_results = cur.fetchall()
    columns = ['index','age','job','marital','education','credit_default','balance','housing_loan','personal_loan','contact','duration_sec','campaign','pdays','previous','poutcome','subscription','date','weekday']
    bank_df= pd.DataFrame(query_results, columns=columns)
except Exception as e:
    print("Database connection failed due to {}".format(e))

In [18]:
bank_df.head()

,index,age,job,marital,education,credit_default,balance,housing_loan,personal_loan,contact,duration_sec,campaign,pdays,previous,poutcome,subscription,date,weekday
0,0,58,management,married,tertiary,no,2143,yes,no,unknown,261,1,-1,0,unknown,no,2008-05-05,Monday
1,1,44,technician,single,secondary,no,29,yes,no,unknown,151,1,-1,0,unknown,no,2008-05-05,Monday
2,2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,76,1,-1,0,unknown,no,2008-05-05,Monday
3,3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,92,1,-1,0,unknown,no,2008-05-05,Monday
4,4,33,unknown,single,unknown,no,1,no,no,unknown,198,1,-1,0,unknown,no,2008-05-05,Monday

: